<div class="card-container">
  <% unless local_assigns[:disabled_action] %>
    <div class="row">
      <div class="col-6">
        <%= card_status card.status %>
      </div> <!-- .col-9 -->

      <div class="col-6 text-right">
        <div class="d-inline-block" style="line-height: 24px; vertical-align: middle;margin-right: 8px; font-size: 24px;">
          <i  class="fa fa-comments"
              style="cursor: pointer"
              data-toggle="popover"
              data-placement="bottom"
              title="Comments"
              data-content="<%= card.note %>">
          </i> <!-- .fa fa-comments -->
        </div> <!-- .d-inline-block -->
        <div class="dropdown d-inline-block">
          <a href="#" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-fw fa-cog"></i> <!-- .fa fa-comments -->
          <a>

          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to edit_card_path(card), class: 'dropdown-item' do %>
              <small>Edit Card</small>
            <% end %>

            <%= link_to card_path(card), class: 'dropdown-item', data: { confirm: 'Are you sure to delete?' }, method: 'delete' do %>
              <small>Delete Card</small>
            <% end %>
          </div> <!-- .dropdown-menu -->
        </div> <!-- .dropdown d-inline-block -->
      </div> <!-- .col-3 -->
    </div> <!-- .row -->
  <% end %>

  <div class="card <%= card.card_type %>">
    <%= card_type_icon card.card_type, 'card-image-placeholder' %>
    <div class="card-title"><%= card.title %></div> <!-- .card-title -->
    <div class="card-description"><%= card.description %></div> <!-- .card-description -->
    <div class="card-type-icon"><%= card_type_icon(card.card_type) %></div> <!-- .pull-right -->
  </div> <!-- .card -->

  <div class="row card-creator-detail">
    <div class="col-7">
      <small class="text-muted">Created by</small> <!-- .text-muted -->
      <strong><%= card.creator %></strong>
    </div> <!-- .col-7 -->
    <div class="col-5 text-right">
      <small class="text-muted">ID#<%= '%05d' % card.running_number %></small> <!-- .text-muted -->
    </div> <!-- .col-5 -->
  </div> <!-- .row -->
</div> <!-- .card-container -->
