<br>
<div class="container">
  <div class="pull-right" style="margin-top: 5px;">
    <%= link_to new_card_path, class: 'btn btn-primary btn-sm' do %>
      <i class="fa fa-plus"></i> <!-- .fa fa-plus -->
      Add New Card
    <% end %>
  </div> <!-- .pull-right -->

  <h2>Cards</h2>
    <div class="row">
    <div class="col-12 col-sm-6 text-muted text-center text-sm-left">
      <strong>Total : <%= pluralize @card_counts.sum(&:last), 'card' %></strong>
      <div style="height:5px" class="d-block d-sm-none"></div>
    </div> <!-- .col-12 col-sm-6 -->

    <div class="col-12 col-sm-6 text-center text-sm-right">
      <% @card_counts.each do |key, count|%>
        <span class="<%= key%>" style="margin: 0 8px;"><%= card_type_icon key%> : <%= count %></span>
      <% end %>
    </div> <!-- .col-12 col-sm-6 -->
  </div>

  <hr>

  <div class="row">
    <% @cards.each do |card| %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <%= render partial: 'cards/card', object: card %>
      </div> <!-- .col-xs-12 col-sm-12 col-md-6 col-lg-4 -->
    <% end %>
  </div> <!-- .row -->
</div> <!-- .container -->
